body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: slategrey;
  border-bottom: 1px solid black;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  line-height: 40px;
  height: 40px;
  /* background-color: slategray; */
  display: inline-block;
  width: 24%;

}

.nav a {
  text-decoration: none;
  display: inline-block;
}

/* .merchCard {
  float: left;
  width: 20%; 
  margin: auto;
  height: 15%;
} */


div.merchCard {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
  width: 30%;
}

div.merchCard img {
  width: 100%;
  height: auto;
}

/* html {
  position: relative;
  min-height: 100%;
} */

#merchandise {
  margin: 0 auto;
  position: relative;
  width: 50%;
}

.text {
  background-color: rgb(197, 5, 5);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.merchPhoto {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(75%, -250%);
  -ms-transform: translate(-50%, -50%)
}

.merchCard:hover .middle {
  opacity: 1;
}

.merchCard:hover .merchPhoto {
  opacity: 0.3;
}