body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: slategrey;
  border-bottom: 1px solid black;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  line-height: 40px;
  height: 40px;
  /* background-color: slategray; */
  display: inline-block;
  width: 24%;

}

.nav a {
  text-decoration: none;
  display: inline-block;
}

/* album page styles -----------------------------------------------------*/

#albumCards {
  display: flex;
  flex-flow: row wrap;
  height: 50em;
  justify-content: space-evenly;
}

#albumCards article {
  width: 40%;
}

#albumCards img{
  width: 100%;
}
